.header {
  &__logo {
    height: 40px;
    width: 45px;
    background-image: url("~images/svg/header/header_logo.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }
}
